<div class="login-content">
  <div class="login-ui">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>注册</h1>
      <div class="user">
        <p class="input-title">邮箱</p>
        <input type="email" formControlName="email">
        <div class="passwd">
          <p class="input-title">密码</p>
          <input type="password" formControlName="password"></div>
        <p class="fail" [hidden]="success">用户名或密码错误</p>
        <div class="submit">
          <button class="login-btn" type="submit" [disabled]="!registerForm.valid">注册</button>
        </div>
      </div>
    </form>
  </div>
</div>
