<div class="root">
  <div class="header">
    <h1>问卷调查 :{{input.title}}</h1>
    <h2>发起人：{{input.createUser}} </h2>
  </div>
  <div class="quest-main">
    <div class="question" *ngFor="let data of input.contents;let index=  index">
      <div class="title">
        <h3 class="option-title">问题 {{index + 1}}. {{data.title}}</h3>
      </div>
      <ul class="one-select" *ngIf="data.optionType === 'ONE_SELECT'">
        <li *ngFor="let option of data.options">
          <label><input type="radio" [name]="data.id.toString()" [value]="option.id"
                        [(ngModel)]="option.select"
          >
            <p class="text">{{option.content}}</p>
          </label>
        </li>
      </ul>
      <ul class="many-select" *ngIf="data.optionType === 'MANY_SELECT'">
        <li *ngFor="let option of data.options">
          <label><input type="checkbox" [name]="data.id.toString()" [value]="option.id"
                        [(ngModel)]="option.select"
          >
            <p class="text">{{option.content}}</p>
          </label>
        </li>
      </ul>
      <ul class="input-select" *ngIf="data.optionType === 'INPUT'">
        <textarea [name]="data.id.toString()" [(ngModel)]="data.input" rows="4"></textarea>
      </ul>
    </div>
    <div class="submit">
      <button class="submit-btn pass-btn btn-hover" (click)="postData()">提交</button>
    </div>
  </div>

</div>
